@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors */
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  /* Sizes */
  --sm: 0.75rem;
  --md: 1rem;
  --la: 1.5rem;
  --xl: 2rem;
  --2xl: 2.5rem;
  --3xl: 3.5rem;
  --4xl: 4.5rem;
  --font-bold: 500;
  --font-extra-bold: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Epilogue";
}

body {
  background-color: var(--Almost-White);
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0%);
  z-index: -1;
  transition: 0.3s;
}

body.inactive::before {
  background-color: rgba(0, 0, 0, 25%);
  z-index: 0;
}

.container {
  min-height: 100vh;
  padding: var(--la) 0 var(--3xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--4xl);
  font-weight: var(--font-bold);
  color: var(--Almost-Black);
  user-select: none;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--la);
}

.header__logo {
  font-size: var(--2xl);
  font-weight: var(--font-extra-bold);
  letter-spacing: -1px;
}

.header__menu-icon {
  cursor: pointer;
}

.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  padding: var(--xl);
  background-color: var(--Almost-White);
  color: var(--Medium-Gray);
  transform: translateX(100%);
  z-index: 1;
  transition: 0.3s;
}

.header__nav.active {
  transform: translateX(0);
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--la);
  font-size: var(--md);
  font-weight: var(--font-bold);
  opacity: 0.9;
}

.nav__close-icon {
  align-self: flex-end;
  cursor: pointer;
}

.nav__close-icon img {
  max-width: 100%;
}

.nav__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--xl);
}

.nav__menu img {
  vertical-align: middle;
}

.nav__item {
  width: 100%;
  flex-shrink: 0;
}

.item__title {
  cursor: pointer;
}

.item__title,
.nav__item a,
.submenu__item {
  transition: 0.3s;
}

.nav__item:hover > a,
.item__title:hover,
.submenu__item:hover {
  filter: brightness(0);
}

.item__title > img {
  display: none;
  margin-left: 8px;
}

.nav__item.active img[alt="up-arrow"] {
  display: inline-block;
}

.nav__item.inactive img[alt="down-arrow"] {
  display: inline-block;
}

.nav__submenu {
  display: flex;
  width: 100%;
  height: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--la);
  font-size: inherit;
  transition: 0.3s;
}

.nav__item.active .nav__submenu {
  height: fit-content;
  padding: var(--la);
}

.nav__item--has-submenu {
  width: fit-content;
  overflow: hidden;
  transition: 0.3s;
}

.nav__item--has-submenu.active {
  overflow: visible;
}

.nav__item--has-submenu .nav__submenu img {
  width: 20px;
  margin-right: 8px;
  vertical-align: bottom;
}

.nav__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--md);
  margin-top: var(--la);
  text-align: center;
}

.nav__buttons .register-button {
  border: 1px solid var(--Almost-Black);
}

.nav__buttons a {
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--md) var(--la);
  border-radius: var(--sm);
  transition: 0.3s;
}

.nav__buttons a:hover {
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
}

.container__content {
  width: min(100%, 1150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--4xl);
}

.container__image {
  max-width: 500px;
  display: block;
  order: 1;
}

.container__image img {
  max-width: 100%;
}

.container__body {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: var(--2xl);
  padding: 0 var(--md);
  order: 2;
}

.container__title {
  font-size: var(--xl);
  font-weight: var(--font-extra-bold);
}

.container__text {
  color: var(--Medium-Gray);
  line-height: 1.5;
  font-size: 1.1rem;
}

.container__button {
  padding: var(--md) var(--la);
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  font-size: var(--md);
  font-weight: var(--font-extra-bold);
  border: 1px solid var(--Almost-Black);
  border-radius: var(--sm);
  cursor: pointer;
  transition: 0.3s;
}

.container__button:hover {
  background-color: var(--Almost-White);
  color: var(--Almost-Black);
}

.container__clients {
  width: 100%;
  max-width: 550px;
  /* margin: var(--xl) 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container__clients img {
  max-width: 20%;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  body::before {
    display: none;
  }
  .container {
    justify-content: space-between;
    padding: var(--la) var(--2xl) var(--4xl);
  }
  .container__header {
    padding: 0;
    gap: var(--2xl);
  }
  .header__menu-icon,
  .nav__close-icon {
    display: none;
  }
  .nav__wrapper,
  .nav__menu,
  .nav__buttons {
    flex-direction: row;
    align-items: center;
  }
  .header__nav {
    width: 100%;
    height: fit-content;
    position: static;
    padding: 0;
    transform: none;
    z-index: auto;
  }
  .nav__wrapper {
    font-size: var(--md);
    opacity: 1;
  }
  .nav__menu {
    width: fit-content;
  }
  .nav__item {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__item--has-submenu {
    position: relative;
  }
  .nav__submenu {
    width: max-content;
    display: flex;
    position: absolute;
    bottom: 0;
    padding: var(--md);
    font-size: var(--md);
    transform: translateY(100%);
    background-color: var(--Almost-White);
    border-radius: var(--sm);
    box-shadow: 0 0 50px rgba(0, 0, 0, 12%);
    transition: 0.3s;
  }
  .nav__menu > li:nth-child(1) .nav__submenu {
    right: 0;
  }
  .nav__menu > li:nth-child(2) .nav__submenu {
    left: 0;
  }
  .nav__item.active .nav__submenu {
    bottom: -2rem;
  }
  .nav__buttons {
    width: fit-content;
    margin-top: 0;
  }
  .container__content {
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
  }
  .container__body {
    max-width: 100%;
    width: 51%;
    padding: 0;
    padding-right: var(--2xl);
    align-items: flex-start;
    text-align: left;
    order: 1;
  }
  .container__image {
    width: 40%;
    text-align: right;
    order: 2;
  }
  .container__title {
    font-size: var(--4xl);
  }
  .container__text {
    font-size: var(--md);
    max-width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container__header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: var(--sm);
  }
  .nav__wrapper {
    gap: 0;
  }
  .nav__menu {
    gap: var(--la);
  }
  .nav__menu > li:nth-child(1) .nav__submenu {
    width: 200px;
    right: auto;
    left: 0;
  }
  .container__body {
    padding: 0;
  }
  .container__title {
    font-size: var(--2xl);
  }
}
